.quick__name {
  text-align: center;
}

.quick__form {
  margin: 0 auto;
  align-content: center;
  width: 500px;
}

.quick__inputext {
  margin: 1rem;
  border-radius: 0.2rem;
  border: 1px #b3b1b1 solid;
  padding: 0.5rem;
}

.quick__input {
  background-color: #DD0021;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 80%;
  border: none;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .quick__input {
    width: 80%;
    margin: 0 auto;
  }

  .quick__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .quick__label {
    width: 80%;
  }
}
